body {
    margin: 0;
    font-family: "Arial", sans-serif;
    background: #f0f8f7;
}

.container {
    max-width: 1200px;
    /* margin: auto; */
    margin: 81px 140px;
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.left-section {
    width: 40%;
    padding-top: 60px;
}

.logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 20px;
}

.left-section h1 {
    font-size: 32px;
    margin-bottom: 15px;
}

.left-section p {
    color: #555;
    line-height: 1.6;
}

.right-section {
    width: 55%;
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

.form .row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.field {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.field.full {
    flex: 100%;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 600;
}

input, select {
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ddd;
    font-size: 14px;
}

input:focus, select:focus {
    border-color: #13c0a3;
    outline: none;
}

.btn {
    width: 100%;
    padding: 15px;
    background: #13c0a3;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background: #0fa88e;
}

.terms {
    margin-top: 15px;
    font-size: 12px;
    text-align: center;
    color: #666;
}

.terms a {
    color: #13c0a3;
    text-decoration: none;
}

edia (max-width: 992px) {
    .container {
        margin: 30px;
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    .left-section {
        width: 100%;
        padding-top: 20px;
    }

    .right-section {
        width: 100%;
        margin-top: 20px;
    }
}

/* Large phones (≤ 768px) */
@media (max-width: 768px) {
    .form .row {
        flex-direction: column;
        gap: 10px;
    }

    input, select {
        font-size: 13px;
        padding: 10px;
    }

    .right-section {
        padding: 25px;
    }

    .left-section h1 {
        font-size: 26px;
    }
}

/* Small phones (≤ 480px) */
@media (max-width: 480px) {

    .container {
        margin: 20px;
        padding: 0;
    }

    .left-section p {
        font-size: 14px;
    }

    .btn {
        padding: 12px;
        font-size: 15px;
    }

    .terms {
        font-size: 11px;
    }
} 
